.navbar-tools > ul > li {
	float: left;
}
.content {
	background-color: #f3f3f3;
	min-height: 300px;
}
.navbar-tools > ul > li.dropdown {
	margin: inherit 2px;
}

.panel img {
	max-height: 30px;
}

.circle {
	border-radius: 100%;
}

.current.user img.photo {
	max-height: 30px;
}

.axisLabel {
	position: absolute;
	text-align: center;
	font-size: 12px;
}

.yaxisLabel {
	top: 50%;
	left: 2px;
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform:  rotate(-90deg);
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

.ie7 .yaxisLabel, .ie8 .yaxisLabel {
	top: 40%;
	font-size: 36px;
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.0, M12=0.33, M21=-0.33, M22=0.0,sizingMethod='auto expand');
}


/* hayden */
tbody tr {
	cursor: pointer;
}

.panel .profile-image {
	margin: 10px;
	width: 100%;
	max-height: none;
}

.edit-button{
	position: absolute;
	left: 99%;
	top: 77%;
	width: 142%;
}

.subgrp{
	display:inline-table;
	width:49%;
}

.panel .profile-image-user{
	margin:10px;
	max-height:none;
}

.panel .list-group-link {
	color: #428bca;
}

.panel .contact-btn {
	margin-left: 10px !important;
}